/* '80s Style CSS */

/* Set background color */
body {
    background-color: #f8f8f8; /* Pink */
    background-image: "img1.jpg";
}

/* Add some text styling */
h1 {
    color: #800080; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
p {
    color: #800080; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;
   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
li {
    color: #311531; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}