/* '80s Style CSS */

/* Set background color */
body {
    background-color: #ff66cc; /* Pink */
    background-image: "img2.jpg";
}

/* Add some text styling */
h1 {
    color: #800080; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
p {
    color: #800080; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
li {
    color: #311531; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}