/* '80s Style CSS */

/* Set background colors */
body {
    background-color: #f8f8f850; /* Pink */
    background-image: "img1.jpg";
}

/* Add some text styling */
h1 {
    color: #800080; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
h2 {
    color: #5108c5; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
p {
    color: #800080; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
li {
    color: #015463; /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
a {
    color: hsl(143, 71%, 44%); /* Purple */
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
